.container {
    width: 500px;
    padding: 50px;
    font-family: sans-serif;
    backdrop-filter: blur(17px) saturate(200%);
    -webkit-backdrop-filter: blur(17p) saturate(200%);
    background-color: rgba(190, 198, 199, 0.44);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin: 150px auto;
    margin-top: -550px;
    animation:slide-bottom .5s cubic-bezier(.25,.46,.45,.94);
    text-align: center;
    box-shadow: 5px rgba(8, 8, 9, 8.342);
    top: 0;
    transform: translateY(30px); 
    transition: all 0.2s ease-in-out; 
    left: 0px;
    border-radius: 10px;
    }
    h2{
        margin-top: -10px;
        animation:slide-right .5s cubic-bezier(.25,.46,.45,.94);
    }
    #length{
        text-align: center;
    }
    Input {
    outline: none;
    margin: 10px;
    border: none;
    padding: 6px;
    border-radius: 5px;
    }
    .btn {
    margin-top: 20px;
    background: rgb(218 51 3);
    padding: 10px 8px;
    border-radius: 5px;
    transition: 0.15;
    border: 1px solid rgb(218 51 3);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.15;
    font-size: 17px;
    border-radius: 4px;
    transform: scale(0.8);
    transition: transform 0.5s ease, left 0.5s ease;
    width: 38%;
    }

    .btn:hover {
    left: 0; 
    transform: scale(1);
    }
    .image{
        width: 1547px;
        height: 720px;
        filter: blur(8px);
        margin-left: -20px;
        display: flex;
    }



 @keyframes slide-bottom{0%{transform:translateY(0)}0%{transform:translateY(100px)}}
@keyframes slide-right{0%{transform:translateX(0)}0%{transform:translateX(100px)}}